<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>TooBee</title>
</head>
<body>
    <div class="main-container">
        <section>
            <div class="content main-content">
                <div class="hero login-background is-success is-fullheight">
                    <div class="hero-body">
                        <div class="container is-fluid has-text-centered columns is-mobile is-centered">
                            <div class="column is-full-mobile is-two-thirds-tablet is-half-desktop is-4-widescreen">
                                    {% block accounts_block %}
                                    {% endblock accounts_block %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
